body {
	position: relative;
	width: 564px;
	height: 1054px;
	background-color: #303030;
	margin: 0;	
}
.image1{
  object-fit: cover;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}


/*.image2 {
	object-fit: cover;
	width: 38vw;
	position: absolute;
	top: 0%;
	left: 165%;
}*/

.image3 {
	object-fit: cover;
	width: 4vw;
	position: absolute;
	top: 34%;
	left: 3%;
}
img.image3{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}
/*img.image3:hover{
	-moz-transform: scale(1.5);
}*/

.image4{
	object-fit: cover;
	width: 4vw;
	position: absolute;
	top: 34%;
	left: 250%;
}
img.image4{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}
/*img.image4:hover{
	-moz-transform: scale(1.5);
}*/

.image5 {
	object-fit: cover;
	width: 2vw;
	position: absolute;
	top: 9%;
	left: 245%;
}
img.image5{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}
img.image5:hover{
	-moz-transform: scale(1.5);
}


.about {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 190%;
	position: fixed;
	top: 4%;
	left: 67%;
	transition: background-color .1s linear, color .1s linear;
}
	.about a:hover {
		background-color: rgba(196, 196, 196, 0.3);
	}
	.about a:active{
		background-color: rgba(111, 115, 115, 0.3);
	}
	.about a:visited {
		color: #FFFFFF;
	}
	

.pys {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 190%;
	position: fixed;
	top: 4%;
	left: 78%;
	transition: background-color .1s linear, color .1s linear;
	
}
	.pys a:hover {
		background-color: rgba(196, 196, 196, 0.3);
	}
	.pys a:active{
		background-color: rgba(111, 115, 115, 0.3);
	}
	.pys a:visited{
		color: #FFFFFF;
	}

.wo {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 190%;
	position: fixed;
	top: 10%;
	left: 67%;
	
}
	.wo a:hover {
	   background-color: rgba(196, 196, 196, 0.3);	
	}
	.wo a:active{
	   background-color: rgba(111, 115, 115, 0.3);	
	}
	.wo a:visited{
	   color: #FFFFFF;
	}

.sd {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 190%;
	position: fixed;
	top: 10%;
	left: 81%;
	
}
	.sd a:hover {
	   background-color: rgba(196, 196, 196, 0.3);
	}
	.sd a:active{
	   background-color: rgba(111, 115, 115, 0.3);	
	}
	.sd a:visited{
	   color: #FFFFFF;
	}

.heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 450%;
	color: #FFFFFF;
	position: absolute;
	top: 20%;
	left: 7%;
	white-space: pre;
}


.ip {
	font-family: 'Montserrat', sans-serif;
	font-size: 236%;
	color: #FFFFFF;
	position: absolute;
	top: 24%;
	left: 7%
}


.font2 {
	font-family: 'Kotta One', serif;
	font-size: 236%;
	color: #FFFFFF;
	position: absolute;
	top: 82%;
	left: 113%;
	white-space: pre;
}

.line{
	object-fit: cover;
	width: 9vw;
	position: absolute;
	top: 87%;
	left: 122%;
}

.font3{
	font-family: 'Montserrat', sans-serif;
	font-size: 236%;
	color: #FFFFFF;
	position: absolute;
	top: 89%;
	left: 84%;
	white-space: pre;
}

.group2{
	object-fit: cover;
	width: 15vw;
	position: absolute;
	top: 98%;
	left: 13%;
}
img.group2{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}

.group3{
	object-fit: cover;
	width: 15vw;
	position: absolute;
	top: 98%;
	left: 63%;
}
img.group3{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}
.group4{
	object-fit: cover;
	width: 15vw;
	position: absolute;
	top: 98%;
	left: 113%;
}
img.group4{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}
.group5{
	object-fit: cover;
	width: 15vw;
	position: absolute;
	top: 98%;
	left: 163%;
}
img.group5{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}

.group6{
	object-fit: cover;
	width: 15vw;
	position: absolute;
	top: 98%;
	left: 213%;
}
img.group6{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}

.text11{
	font-family: 'Montserrat', sans-serif;
	font-size: 290%;
	color: #FFFFFF;
	position: absolute;
	top: 135%;
	left: 18%;
	white-space: pre;
	
}

.text12{
	font-family: 'Kotta One', sans-serif;
	font-size: 236%;
	color: #FFFFFF;
	position: absolute;
	top: 156%;
	left: 59%;
	white-space: pre;
}

.group1{
	object-fit: cover;
	width: 17vw;
	position: absolute;
	top: 185%;
	left: 205%;
}
img.group1{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}

.group8{
	object-fit: cover;
	width: 33vw;
	position: absolute;
	top: 207%;
	left: 90%;
}

.group9{
	object-fit: cover;
	width: 95vw;
	position: absolute;
	top: 218%;
	left: 0%;
}

.f1{
	object-fit: cover;
	width: 3vw;
	position: absolute;
	top: 250%;
	left: 180%;
}
img.f1{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}

.f2{
	object-fit: cover;
	width: 3vw;
	position: absolute;
	top: 250%;
	left: 200%;
}
img.f2{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}

.f3{
	object-fit: cover;
	width: 3vw;
	position: absolute;
	top: 250%;
	left: 220%;
}
img.f3{
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition: all 1s ease;
}
.f4{
	object-fit: cover;
	width: 100vw;
	position: absolute;
	top: 259%;
}